<a href="https://colab.research.google.com/github/victordelangelss/edd_1358_2021/blob/master/12octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# diccionarios continuación
cliente_banco = {
              "id":1,
              "nombres": ["Juan","Antonio"],
              "paterno":"Garcia",
              "materno": "Perez",
              "telefonos":{
                          "casa": 5566778899,
                           "celular":5544332211,
                           "trabajo":5566223311
                            },
              "activo": True,
              "balance":234567.89,
              "tarjetas": ({"tipo":"debito","saldo":12000},
                           {"tipo":"credito","saldo":3500.0})   
              }
print(cliente_banco)
#modificando valor de diccionario
#cliente_banco["balance"] = cliente_banco["balance"] -1000.89
cliente_banco["balance"] -= 1000.89 

print(cliente_banco)
#si es tupla se tiene que sustituir 
cliente_banco["tarjetas"] = ({"tipo":"debito","saldo":12000},
                           {"tipo":"credito","saldo":3500.0},
                           {"tipo":"credito","nivel":"oro","saldo":50000})   
print(cliente_banco)
#agregando un nuevo elemento al final de la lista
cliente_banco["direccion"]= {"calle":"rancho seco","numero":23}
print(cliente_banco)
#quitando un elemento en espesifico del diccionario con pop
cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 234567.89, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000}), 'direccion': {'calle': 'rancho seco', 'numero': 23}}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'Garcia', 'materno': 'Perez', 'telefonos': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'direccion': {'calle': 'rancho seco', 'numero': 23}}

In [18]:
# nombre de las llaves del diccionario da una lista saliendo del diccionario
llaves= cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
    print(x)
#imprimir los valores del diccionario    
valores = cliente_banco.values()
for v in valores:
    print(v)
#llave y valor
pares = cliente_banco.items()
print(pares)

for elem in pares:
    print(f" {elem[0]} = {elem[1]}")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'telefonos', 'activo', 'balance', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
materno
telefonos
activo
balance
direccion
1
['Juan', 'Antonio']
Garcia
Perez
{'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
True
233567.0
{'calle': 'rancho seco', 'numero': 23}
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'Garcia'), ('materno', 'Perez'), ('telefonos', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 233567.0), ('direccion', {'calle': 'rancho seco', 'numero': 23})])
 id = 1
 nombres = ['Juan', 'Antonio']
 paterno = Garcia
 materno = Perez
 telefonos = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 233567.0
 direccion = {'calle': 'rancho seco', 'numero': 23}

In [19]:
#combinando dosdiciionarios con .update (sobre todo para diccionarios grandes)
fruta = {"nombre":"manzana","color":"rojo","estado":"chihuahua"}
otras_caracteristicas = {"vitamina":"D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamina': 'D'}

# funciones
- recibe de 0 a n argumentos de entrada
- regresa solo un valor, aunque ese valor sea None(nulo).
- tiene un nombre unico en el contexto.
- se pueden hacer solo dos cosascon funciones:
    - definirla
    - llamarla

In [22]:
#poner el return a menos que no regrese nada el codigo
def suma(a,b):
    return a+b

def saludar():
    print("Hola, ¿como estas?")
    return None

x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, ¿como estas?

# None y las funciones
aprovechar el uso de none en paso de parametros

In [25]:
def calcular(base , veces):
    if base != None:
        resultado = base * veces
    else:
        resultado = "desconocido"
    return resultado

print(calcular(4,3))
print(calcular(None,3))

12
desconocido