<a href="https://colab.research.google.com/github/victordelangelss/edd_1358_2021/blob/master/tarea10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def SumaEnteros( list ):
    suma = 0
    for x in range(len(list)):
        suma += list[x]
    return print(suma)

SumaEnteros([45,90,60,12,31])

238

In [4]:
def printRev( n ):
    if n > 0:
        print( n )
        printRev( n-1 )
        
printRev( 10 )

10
9
8
7
6
5
4
3
2
1